@media (max-width: 900px) {
  * {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header .icons #menu-bar {
    display: inline-block;
  }
  header nav a:hover {
    color: var(--light-color);
  }
  header nav a::after {
    position: static;
  }
  header nav a:hover::after {
    transform: none;
  }
  header nav a:active {
    background-color: var(--green);
    color: white;
  }
  header nav {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* border: 1px solid red; */
  }
  header nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header nav a {
    display: block;
    padding: 1em;
    color: var(--black);
    border-radius: 0.5em;
    background-color: #eee;
    margin-top: 0.5em;
  }

  header .icons i:hover,
  header .icons a:hover {
    background-color: #eee;
    color: var(--black);
    transform: none;
  }
  #search-form #search-box {
    width: 90%;
    margin: 0 1em;
  }
}
@media (max-width: 350px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 280px) {
  * {
    font-size: 10px;
  }
}
